.trending-repos {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.trending-repos h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.trending-repos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.trending-repos li {
    margin-bottom: 10px;
}

.trending-repos a {
    text-decoration: none;
    color: #0366d6;
}

.trending-repos a:hover {
    text-decoration: underline;
}